@font-face {
    font-family: 'barlow';
    /* src: url('Barlow-Regular-webfont.eot'); */
    src: url('./assets/font/Barlow-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow';
    src: url('./assets/font/Barlow-ExtraLight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: lighter;
}
@font-face {
    font-family: 'barlow';
    /* src: url('Barlow-Regular-webfont.eot'); */
    src: url('./assets/font/Barlow-Medium-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    background-color: #EFF6FF;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Montserrat", sans-serif ; */
    font-family: 'barlow';
    font-weight: normal;
    color: #2A4A5C;
}



body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 100px; */
    /* padding-left: 100px; */
    /* padding: 100px; */
    /* box-shadow: 1px 1ox 20px #626d7f; */

}

.layout-box {
    background-color: #ffffff ;
    box-shadow: 1px 1px 20px #bdcadd;
    justify-content: space-between;
    display: flex;
}

img {
    width: 590px;
    height: 100%;

}

.content {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 30px;
}

.content div {
    padding-bottom: 30px;
}

span.title {
    font-weight: bold;
    font-size: 23px;
}

p.desc {
    padding-top: 5px;
    font-size: medium;
}

.box {
    padding-top: 30px;
}

.or-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    
}

span.or {
    text-align: center;
    display: flex;
    position: relative;
    align-items: center;
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 12px;
}

.register-box,
.login-box {
    justify-content: space-between;
    display: flex;
    position: relative;
    align-items: center;
    /* padding-right: 5px; */
    /* padding: 0px 100px; */
    /* display: inline-block; */
}

i {
    background-color: #255A9B;
    color: #ffffff;
    margin-right: 10px ;
}

.register-box button {
    /* margin-right: 0px; */
    padding: 10px;
    padding-right: 30px;
    padding-left: 2px;
    color: #ffffff;
    border-style: none;
}

#facebook {
    background-color: #255A9B;
}

#linkedin {
    background-color: #0076B6;
}

.login-box {
    padding-top: 0px;
}

.login-box input {
    padding: 7px;
    padding-right: 50px;
    /* color: #ffffff; */
    border-style: groove;
    border-color: #a5c9ff;
    padding-bottom: 30px;
}

.login-box input,
#facebook,
#linkedin {
    width: 205px;
}

.login-box input:hover {
    /* border-color: #254069; */
    border-left-color: #0e4991;
    /* border-style: inset; */
}
.login-box input:focus {
        border-color: #a5c9ff;
    border-left-color: #0e4991;
    border-style: groove;

}

span.choices-title {
    font-weight: bold;
    font-size: 17px;
}

p.choices-desc {
    padding: 10px 0px;
}

.choices-list ul li {
    justify-content: space-between;
    display: inline-block;
    padding: 0px 10px;
    list-style: none;
}

.choices-list ul li a,
.choices-list ul li span
 {
    padding-left: 10px;
    font-weight: bold;
    text-decoration: none;

}

.choices-list ul li input {
    border-radius: 20px;
}



.agree {
    padding-left: 5px;
    font-size: 13px;
}
.agree a {
    color: #3698FB;
}
.agree a {
    cursor: pointer;
}

button.create{
    padding: 10px 50px;
    background-color: #3698FB;
    border-style: none;
    color: #ffffff;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    opacity: 80%;
    font-weight: bold;
}



/* POP UP TEXT  (Individual) */


li#individual:hover  {
    cursor: pointer;
    
}


#individual-display {
    box-shadow: 1px 1px 20px #bdcadd;
    /* height: 30px; */
    /* width: 50px; */
    margin: 20px;
    width: 200px;
    padding: 10px;
    height: 70px;
    font-size: 13px;

    z-index: 200;
    display: none;
    position: relative;
    /* opacity: 0; */

}

li#individual:hover #individual-display {
    box-shadow: 1px 1px 20px #bdcadd;
    /* height: 30px; */
    /* width: 50px; */
    margin: 20px;
    width: 200px;
    padding: 10px;
    height: 70px;
    font-size: 13px;
    transition: 0.3s ease-out;

    z-index: 300;
    display: block;
    position: absolute;
    /* opacity: 1; */
    /* opacity: 1; */
}



